.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 110px;
  padding: 15px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#search-bar-suggestions li {
  cursor: default;
  letter-spacing: 0.03em;
  padding: 12px 7px 12px 10px;
  -webkit-tap-highlight-color: transparent;
}

#search-bar-suggestions {
  border: 1px solid #ccc;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-sizing: border-box;
  font-size: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: -1px;
}

#organization_name {
  color: #4286f4;
  font-size: 24px;
}

#org_stat {
  font-family: "Courier New";
  size: 12px;
}

#leftcolumn {
  background: #FFFFFF;
  text-align: left;
  font-size: small;
  width: 200px;
  float: left;
}

#centercolumn {
  float: left;
  background: #FFFFFF;
  width: 400px;
}

#rightcolumn {
  float: left;
  background: #FFFFFF;
  width: 400px;
}

#searchBox {
  color: black;
}

#searchInput {
  margin-bottom: 20px;
}

.searchResultCol1 {
  padding: 0 15px 15px 0;
}
.searchResultCol1, .searchResultCol2 {
  text-align: left;
}

.table {
  display: table;
  margin: 0px auto;
}
.tr {
  display: table-row;
  margin: 10px;
}
.td {
  display: table-cell;
}
