.App {
  text-align: center;
}

.logo-spinner {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #28A9E1;
  height: 110px;
  padding: 15px;
  color: white;
}

.page-title {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 24px;
  padding-bottom: 10px;
  padding-top: 2px;
}

.search-box {
  color: black;
  margin-bottom: 5px;
}

#search-result {
  font-family: "Apple SD Gothic Neo";
}

.organization-name {
  color: dodgerblue;
  font-size: 24px;
}

.stat {
  font-family: "Apple SD Gothic Neo";
  font-size: 14px;
  padding: 3px;
  border-bottom: 1px solid #aaa;
}

.org-data {
  float: right;
  font-family: Courier;
  font-size: 14px;
  color: dodgerblue;
  padding-right: 40px;
}

.left-column {
  background: #FFFFFF;
  text-align: left;
  font-size: small;
  width: 300px;
  float: left;
}

.side-bar-header {
  font-family: "Apple SD Gothic Neo";
  font-size: 18px;
  padding-top: 25px;
  padding-bottom: 5px;
}

.small-chart {
  width: 500px;
}

.long-chart {
  height: 25%;
  width:65%;
  bottom: 0;
  position:absolute;
}

.column{
  float: left;
  overflow: hidden;
}

.row{
}