.logo {
    height: 70px;
}

.checkmark {
    height: 18px;
    float: left;
    padding: 0px 5px 0px 2px;
}

.header {
    background-color: #28A9E1;
    height: 68px;
}

.tam-tool-graph {
    border: 1px solid #cccccc;
    margin: 3px;
}

#details-background {
    background-color: whitesmoke;
}

.center {
    display: table;
    margin: 0 auto;
}

.search-box {
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 3px;
    display: table;
}

.bottom-aligner {
    height: 39px;
}

#search-result {
    display: table;
    margin: 0 auto;
    font-family: "Apple SD Gothic Neo";
    color: black;
    text-align: left;
    padding: 1px;
}

.organization-name {
    color: dodgerblue;
    font-size: 24px;
    border-bottom: 1px solid #aaa;
}

.stat {
    cursor: pointer;
    font-family: "Apple SD Gothic Neo";
    font-size: 14px;
    padding: 3px;
    border-bottom: 1px solid #aaa;
    min-width: 200px;
}

.org-data {
    float: right;
    font-family: Courier;
    font-size: 14px;
    color: dodgerblue;
    padding-right: 5px;
}

.stat:hover {
    background: #ededed;
}

#sidebar {
    min-width: 165px;
    float: left;
    padding: 0px 10px;
    background-color: #FFFFFF;
}

.side-bar-header {
    font-family: "Apple SD Gothic Neo";
    font-size: 18px;
    padding-top: 35px;
    padding-bottom: 5px;
    color: #ce6846;
}

.account_data {
    text-align: left;
    min-width: 235px;
    float: left;
}

.payer_account_header {
    cursor: pointer;
    background: rgba(27, 163, 232, 0.5); /* Black color with 50% alpha/opacity */
    display: block;
    padding: 2px 2px 2px 2px;
}

.linked_account_header {
    cursor: pointer;
    background: rgba(220, 224, 226, 0.5); /* Black color with 50% alpha/opacity */
    font-family: "Apple SD Gothic Neo";
    font-size: 16px;
    margin: 2px 0px 2px 5px;
}

.linked_account_header:hover {
    background: #ffffff;
}

.sectionTitle {
    display: block;
    cursor: pointer;
}

.sectionContent {
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in;
    -moz-transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
    -ms-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in;
}

.permissions {
    font-family: "Courier New";
    font-size: 14px;
    padding: 3px;
    padding-left: 15px;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in;
    -moz-transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
    -ms-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in;
}

.account_name {
    padding: 0px 15px 0px 15px;
}

.account_identifier {
    float: right;
}

.right {
    float: right;
}

.left {
    float: left;
}

.row,
.column {
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;
}

.column + .column {
    margin-left: 1.6%;
}

.column-1 {
    width: 6.86666666667%;
}

.column-2 {
    width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
    margin-left: 0;
}