.logo {
  height: 70px;
}

.header {
  background-color: #28A9E1;
  height: 68px;
}

.chart {
  height: 90%;
  width: 90%;
}

.center {
  display: table;
  margin: 0 auto;
}

.search-box {
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 3px;
  display: table;
}

.bottom-aligner {
  display: inline-block;
  height: 38px;
  vertical-align: bottom;
  width: 0px;
}

#search-result {
  display: table;
  margin: 0 auto;
  font-family: "Apple SD Gothic Neo";
  color: black;
  text-align: left;
  padding: 1px;
}

.organization-name {
  color: dodgerblue;
  font-size: 24px;
  border-bottom: 1px solid #aaa;
}

.stat {
  cursor: pointer;
  font-family: "Apple SD Gothic Neo";
  font-size: 14px;
  padding: 3px;
  border-bottom: 1px solid #aaa;
}

.org-data {
  float: right;
  font-family: Courier;
  font-size: 14px;
  color: dodgerblue;
  padding-right: 5px;
}

.stat:hover {
  background: #ededed;
}

.sidebar {
  text-align: left;
  min-width: 235px;
  float: left;
  padding-left: 10px;
}

.side-bar-header {
  font-family: "Apple SD Gothic Neo";
  font-size: 18px;
  padding-top: 35px;
  padding-bottom: 5px;
}

.row,
.column {
  box-sizing: border-box;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.column {
  position: relative;
  float: left;

}

.column + .column {
  margin-left: 1.6%;
}

.column-1 {
  width: 6.86666666667%;
}

.column-2 {
  width: 15.3333333333%;
}

.column-3 {
  width: 23.8%;
}

.column-4 {
  width: 32.2666666667%;
}

.column-5 {
  width: 40.7333333333%;
}

.column-6 {
  width: 49.2%;
}

.column-7 {
  width: 57.6666666667%;
}

.column-8 {
  width: 66.1333333333%;
}

.column-9 {
  width: 74.6%;
}

.column-10 {
  width: 83.0666666667%;
}

.column-11 {
  width: 91.5333333333%;
}

.column-12 {
  width: 100%;
  margin-left: 0;
}